.titleInfoBox {
  max-width: 650px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 16px;
  padding: 24px;
  background: var(--inputs);
}
.titleBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}
.name {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
}

.infoBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media only screen and (min-width: 1440px) {
    flex-direction: row;
  }
}

.location {
  display: flex;
  gap: 4px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.map {
  width: 16px;
  height: 16px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  margin-bottom: 24px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
}
