.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  padding: 0 24px 24px;
  width: 100%;
  background: var(--inputs);

  @media only screen and (min-width: 1440px) {
    min-height: 840px;
    width: 888px;
  }
}
.image {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 463 / 488;
  flex-shrink: 0;
  margin-bottom: 21px;

  @media only screen and (min-width: 1440px) {
    width: 488px;
    height: 463px;
  }
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  margin-bottom: 16px;
}

.description {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 43px;
  max-width: 435px;
}
.btnWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media only screen and (min-width: 1440px) {
    flex-direction: row;
  }
}

.clearBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border: 1px solid var(--gray-light);
  border-radius: 200px;
  padding: 16px 32px;
  background: var(--white);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  transition: border 300ms cubic-bezier(0.31, 0.63, 0.78, 0.91);
  min-width: 192px;
}
.clearBtn:hover {
  border: 1px solid var(--green-hover);
}

.closeIcon {
  stroke-width: 1.5px;
  stroke: #000;
  width: 12px;
  height: 12px;
}
.viewAllBtn {
  min-width: 192px;
  background: var(--grey-green);
  border-radius: 200px;
  padding: 16px 32px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
  transition: background 300ms cubic-bezier(0.31, 0.63, 0.78, 0.91);
}
.viewAllBtn:hover,
.viewAllBtn:focus-visible {
  background: var(--green-hover);
}
