.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 120px;
  padding-left: 16px;
  padding-bottom: 20px;
  width: 100vi;
  height: 100vh;
  max-height: 100vh;
  background-image: image-set(
    url('/images/hero-image@1x.webp') 1x,
    url('/images/hero-image@2x.webp') 2x,
    url('/images/hero-image@1x.jpeg') 1x,
    url('/images/hero-image@2x.jpeg') 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media only screen and (min-width: 1440px) {
    width: 1440px;
    max-height: 768px;
    padding-left: 64px;
    padding-bottom: 178px;
  }
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 42px;
  line-height: 100%;
  color: var(--inputs);
  margin-bottom: 16px;

  @media only screen and (min-width: 1440px) {
    font-size: 48px;
    line-height: 67%;
  }
}
.description {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--inputs);
  margin-bottom: 40px;
}

.link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
  border-radius: 200px;
  padding: 16px 49px;
  background: var(--grey-green);
  transition: background 300ms cubic-bezier(0.31, 0.63, 0.78, 0.91);
}
.link:hover,
.link:focus-visible {
  background: var(--green-hover);
}
