.box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  padding: 24px;
  background: var(--inputs);
  @media only screen and (min-width: 1440px) {
    height: 360px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
.box::-webkit-scrollbar {
  display: none;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--gray-light);
}

.tag {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  border-radius: 100px;
  padding: 12px 18px;
  background: var(--badges);
  mix-blend-mode: multiply;
}

.infoList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.infoItem {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
