.mainBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 65px;
  padding: 120px 16px 52px;

  @media only screen and (min-width: 1440px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 120px 64px 52px 63px;
  }
}
