.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 199;
  width: 100vw;
  height: 100vh;
  background-color: rgba(223, 223, 223, 0.44);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 8px;
  background-color: #fff;
  padding: 48px 96px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  align-items: center;

  @media only screen and (min-width: 1440px) {
    max-width: 543px;
  }
}
